<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Invoicebook</title>
    <link href="/Admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="/Admin/dist/css/admin-lte.min.css?v=1.0.4" rel="stylesheet" />
    <link href="~/admin/dist/css/skins/skin-green.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/admin/plugins/fastclick/js/fastclick.min.js"></script>
    <script src="/Admin/dist/js/app.js"></script>

   @*  <script src="/Admin/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
    <script src="/Admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Admin/plugins/slimscroll/js/jquery.slimscroll.min.js"></script>
    <script src="/Admin/plugins/fastclick/js/fastclick.min.js"></script>
    <script src="/Admin/dist/js/app.js"></script> *@
</head>
<body class="hold-transition skin-dark sidebar-mini">
    <div class="wrapper">
    <header class="main-header">
        <a href="./" class="logo">
            <span class="logo-mini"><b>Invoice</b></span>
            <span class="logo-lg">Invoice Book</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-section">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <button class="create-btn">+ Create</button>
                <input class="navbar-search" type="text" placeholder="Search 300 Clients">
                <select class="navbar-select">
                    <option>All</option>
                    <option>Archived</option>
                    <option>Deleted</option>
                    <!-- Add more options as needed -->
                </select>
                <a href="/Logout" class="logout-link">Logout</a>
                <span class="navbar-clock">&#x23F2;</span>
            </div>
        </nav>
    </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Admin/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Admin</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="left-sidebar-menu-dashboard">
                        <a href="/">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>                        
                    </li>
                    <li id="left-sidebar-menu-widgets">
                        <a href="/Client" title="Client List">
                            <i class="fa fa-th"></i> <span>Clients</span>
                        </a>
                        <a href="/NewClient" class="new" title="New Client"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Invoice">
                            <i class="fa fa-th"></i> <span>Invoices</span>
                        </a>
                        <a href="/NewInvoice" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Payment">
                            <i class="fa fa-th"></i> <span>Payments</span>
                        </a>
                        <a href="/NewPayment" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>

                    <li>
                        <a href="/Quote">
                            <i class="fa fa-th"></i> <span>Quotes</span>
                        </a>
                        <a href="/NewQuote" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Credit">
                            <i class="fa fa-th"></i> <span>Credits</span>
                        </a>
                        <a href="/NewCredit" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Vendor">
                            <i class="fa fa-th"></i> <span>Vendors</span>
                        </a>
                        <a href="/NewVendor" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Purchase">
                            <i class="fa fa-th"></i> <span>Purchases</span>
                        </a>
                        <a href="/NewPurchase" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Expense">
                            <i class="fa fa-th"></i> <span>Expenses</span>
                        </a>
                        <a href="/NewExpense" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="/Transaction">
                            <i class="fa fa-th"></i> <span>Transactions</span>
                        </a>
                        <a href="/NewTransaction" class="new"><small class="label pull-right"><i class="fa fa-plus-circle fa-2x"></i></small></a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-list"></i> Reports <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/InspectionReport"><i class="fa fa-th"></i> <span>Inspection Report</span></a></li>
                            <li><a href="/Tankerreport"><i class="fa fa-th"></i> <span>Tanker Report</span></a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/Document">
                            <i class="fa fa-th"></i> <span>Documents</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Setting">
                            <i class="fa fa-th"></i> <span>Settings</span>
                        </a>
                    </li>
                    @* <li id="left-sidebar-menu-multilevel1" class="treeview">
                        <a href="#">
                            <i class="fa fa-gear"></i> Configuration <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="./Location"><i class="fa fa-circle-o"></i> Location</a></li>
                            <li><a href="./Manufacturer"><i class="fa fa-circle-o"></i> Manufacturer</a></li>
                            
                            <li><a href="./Users"><i class="fa fa-circle-o"></i> Users</a></li>
                            <li><a href="./TankerType"><i class="fa fa-circle-o"></i> Tankers Type</a></li>
                            <li><a href="./JobCity"><i class="fa fa-circle-o"></i> Job City</a></li>
                            
                        </ul>
                    </li> *@

                </ul>
            </section>
        </aside>

         @* Main Content Place Holder *@
        <div class="content-wrapper">
            @RenderBody()
        </div>


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Desined by Varsai Computers LLC &nbsp;&nbsp;<b>Version</b> 1.0.0
            </div>
            <strong>Copyrights Varsai Computers LLC @@2025-2026.</strong> All rights
            reserved.
        </footer>
        <div class="control-sidebar-bg"></div>

    </div>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
